    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of products</title>
    </head>
    <body>
        <h1 align="center">List of Products</h1>
        <table border="1" align="center">
            <thead><tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr></thead>
            <tbody>
                <tr th:each="prod : ${listproduct}">
                    <td th:text="${prod.id}"></td>
                    <td th:text="${prod.name}"></td>
                    <td th:text="${prod.price}"></td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>