<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Create Product</title>

    <link rel="stylesheet"
          th:href="@{../css/styles.css}">

</head>

<body>

<div class="container">

    <h2 th:if="${message}"
        th:text="${message}">
    </h2>

    <form th:action="@{/create}"
          method="post">

        <div>
            <label>
                Name :
                <input type="text"
                       name="name">
            </label>
        </div>

        <br>

        <div>
            <label>
                Description :
                <textarea name="description"></textarea>
            </label>
        </div>

        <br>

        <div>
            <label>
                Price :
                <input type="text"
                       name="price">
            </label>
        </div>

        <br>

        <div>
            <label>
                Expiry Date :
                <input type="text"
                       name="expirydate">
            </label>
        </div>

        <br>

        <input type="submit"
               value="Submit">

    </form>

    <br>

    <a href="/all">
        View All Products
    </a>

</div>

</body>
</html>