<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Update Product</title>

</head>

<body>

<h2>Update Product</h2>

<form th:action="@{/update/{id}(id=${ProductDetails.id})}"
      method="post"
      th:object="${ProductDetails}">

    <div>

        <label>
            Name :
            <input type="text"
                   th:field="*{name}">
        </label>

    </div>

    <br>

    <div>

        <label>
            Description :
            <textarea th:field="*{description}">
            </textarea>
        </label>

    </div>

    <br>

    <div>

        <label>
            Price :
            <input type="text"
                   th:field="*{price}">
        </label>

    </div>

    <br>

    <div>

        <label>
            Expiry Date :
            <input type="text"
                   th:field="*{expirydate}">
        </label>

    </div>

    <br>

    <input type="submit"
           value="Update">

</form>

</body>
</html>